p,
span,
button {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header#ott {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0.5rem;
    background-color: var(--theme-day-bg);
    position: fixed;
    top: 0px;
    max-width: 570px;
    z-index: 1000;
}
#toonWrap.hide header#ott {
    max-width: 768px;
}

header#ott button {
    width: 32px;
    height: 32px;
    background-color: transparent;
}

header#ott .title {
    display: block;
    width: calc(100% - 36px - 1rem);
    font-family: "NanumSquareNeo";
    font-size: 1rem;
    font-weight: 800;
    line-height: 120%;
    text-align: center;
}

/* header Fin */

#ott_container {
    width: 100%;
    box-sizing: border-box;
    padding-top: 56px;
    background: url("/assets/images/kr/event/ottcoupon/bg_pc.png") no-repeat left top;
    background-size: cover;
}

#ott_container .ott_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
}

#ott_container .ott_wrap > img:first-of-type {
    margin: 0 auto;
    margin-bottom: 40px;
}

#ott_container .ott_wrap > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 999px;
    background-color: #30210e;
    color: #fff;
    text-align: center;
    font-family: "NanumSquareNeo";
    line-height: 140%;
}

#ott_container .ott_wrap > p > span:last-of-type {
    color: var(--primary);
}

#ott_container .ott_wrap .box_wrap {
    width: 70%;
    box-sizing: border-box;
    padding: 36px 24px;
    background-color: #fff;
    border: 2px solid #30210e;
    border-radius: 1rem;
    margin: 0 auto;
}

#ott_container .ott_wrap .box_wrap > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

#ott_container .ott_wrap .box_wrap > div > p {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 120%;
    color: #c4c2bf;
}

#ott_container .ott_wrap .box_wrap > div > input {
    display: block;
    width: 100%;
    border-style: none;
    background-color: transparent;
    outline: none;
    font-size: 1.4rem;
    line-height: 120%;
    text-align: center;
    color: #30210e;
}

#ott_container .ott_wrap .box_wrap > div > input::placeholder {
    color: #30210e;
}

#ott_container .ott_wrap .box_wrap > button {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}
#ott_container .ott_wrap .box_wrap > button > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#ott_container .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #30210e;
    padding: 40px;
    color: #fff;
}

#ott_container .bottom > p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: #ece4da;
    font-weight: 500;
}

#ott_container .bottom > p > span:first-of-type {
    width: 10px;
    text-align: center;
}

@media screen and (max-width: 570px) {
    #ott_container .ott_wrap {
        padding: 1.25rem;
        padding-bottom: 3.7rem;
    }
    #ott_container .ott_wrap > p,
    #ott_container .ott_wrap .box_wrap {
        width: 90%;
    }

    #ott_container .bottom {
        padding: 1.25rem;
        padding-bottom: 3rem;
    }
}
